<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.msarpong.splash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.settings.SettingsScreen"></activity>
        <activity android:name=".ui.user.NoUserScreen" />
        <activity android:name=".ui.following.FollowingScreen" />
        <activity android:name=".ui.search.SearchCollectionScreen" />
        <activity android:name=".ui.search.SearchUserScreen" />
        <activity android:name=".ui.profile.ProfileCollectionScreen" />
        <activity android:name=".ui.profile.ProfileLikeScreen" />
        <activity android:name=".ui.profile.ProfilePhotoScreen" />
        <activity android:name=".ui.detail_photo.DetailPhotoScreen" />
        <activity android:name=".ui.search.SearchPhotoScreen" />
        <activity android:name=".ui.collections.CollectionScreen" />
        <activity android:name=".ui.user.UserScreen" />
        <activity android:name=".ui.welcome.WelcomeScreen" />
        <activity android:name=".ui.splash.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>